{% extends "layout.twig" %}

{% block ogImage %}
    {% for photo in album.photos %}
        <meta property="og:image" content="{{ photo(photo.id, true) }}" />
    {% endfor %}
{% endblock %}

{% block content %}
    {% set full_width = 945 %}
    {% set horizontal_block_width = 274 %}
    {% set vertical_block_width = 129 %}
    {% set current_width = 0 %}

    {# getting page width #}
    {% if album.photos|length > 0 %}
        {% set photo_page = photo_for_page(album.photos, page) %}
        {% for block in photo_page %}
            {% set current_width = current_width + (block.is_vertical == 0 ? horizontal_block_width : vertical_block_width) %}
        {% endfor %}
        <div id="content" style="display: none;">
            <div class="photo_page">
                <div style="width: {{ current_width }}px" class="photo_page_wrapper">
                    {% for block in photo_page %}
                        <section class="horizontal {% if block.is_vertical == 0 %}horizontal_blocks{% else %}vertical_blocks{% endif %}">
                            {% if page == 0 and loop.index0 == 0 %}
                                <a href="{{ path('erliz_photosite_albums_index') }}">
                                    <div class="photo horizontal picture_big picture_text picture_text_min black_on_white">
                                        <span>{{ album.title }}</span>
                                    </div>
                                </a>
                            {% endif %}
                            {% for photo in block.photos %}
                                <div onclick="gallery.showPhoto({{ photo.id }});" class="photo photo_transparent horizontal {% if block.is_vertical == 0 %}picture_big{% else %}picture_mid{% endif %}" style="background-image: url('{{ photo(photo.id, true) }}');">&nbsp;</div>
                            {% endfor %}
                        </section>
                    {% endfor %}
                </div>
            </div>
            <div id="photo_pager" class="pager">
                <a href="{{ path('erliz_photosite_albums_view', {id: album.id, page: page > 0 ? page-1 : 0}) }}"
                   {% if page == 0 %}style="visibility: hidden;"{% endif %}
                   class="pager_arrow">&nbsp;</a>
                {% for pageNum in 1..photo_pages_count(album.photos) %}
                    <a href="{{ path('erliz_photosite_albums_view', {id: album.id, page: pageNum-1}) }}" {% if (pageNum-1) == page %}class="pager_current"{% endif %}>&nbsp;</a>
                {% endfor %}
                <a href="{{ path('erliz_photosite_albums_view', {id: album.id, page: page+1}) }}"
                   {% if photo_pages_count(album.photos)<=page+1 %}style="visibility: hidden;"{% endif %}
                   class="pager_arrow">&nbsp;</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script src="{{ asset('js/gallery.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.tmpl.min.js', false) }}"></script>
    <script id="tmpl_photo_view" type="text/x-jquery-tmpl">
        {% verbatim %}
        <section id="photo_view_wrapper">
            <div id="photo_view_social" class="social">
                <div class="yashare-auto-init" data-yashareLink="" data-yashareTitle="" data-yashareDescription=""
                     data-yashareImage=""
                     data-yashareQuickServices="gplus,vkontakte,facebook,moimir,odnoklassniki,twitter"
                     data-yashareTheme="counter" data-yashareType="small"></div>
            </div>
            <div id="photo_view_block" class="photo_view_wrapper{{if photo.isVertical()}} photo_view_vertical{{/if}}">
            <div class="photo_view" onclick="gallery.showPhoto(${next.getId()})" style="background-image: url('${photo.getUrl()}');">
                <!--<span class="photo_view_title">${photo.getTitle()}</span>-->
            </div>
        </section>
        {% endverbatim %}
    </script>
    <script id="tmpl_photo_view_pager" type="text/x-jquery-tmpl">
        {% verbatim  %}
        <div id="photo_view_pager" class="pager">
            <a href="javascript:void(0)" onclick="gallery.showPhoto(${prev.getId()})" title="Preview"
               {{if position==0}}style="visibility: hidden;"{{/if}}
               class="pager_arrow">&nbsp;</a>
            {{each collection}}
            <a href="javascript:void(0)" onclick="gallery.showPhoto(${$value.id})" title=""
               {{if position==$index}} class="pager_current" {{/if}}>&nbsp;</a>
            {{/each}}
            <a href="javascript:void(0)" onclick="gallery.showPhoto(${next.getId()})" title="Next"
               {{if size<=position+1}}style="visibility: hidden;"{{/if}}
               class="pager_arrow">&nbsp;</a>
        </div>
        {% endverbatim %}
    </script>
    <script>
        (function(window){
            window.gallery = new Gallery({{ album.id }});
            window.gallery.init();
        })(window);
    </script>
{% endblock %}
