{% extends "base.twig" %}

{% block stylesheets_all %}
	<link rel="stylesheet" href="{{ asset('css/vendors.css') }}">
	<link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block javascripts_top %}
    <script src="{{ asset('js/vendors_top.js') }}"></script>
	<script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}

{% block body %}
    {% include 'Admin/blocks/jsMessage.twig' %}
    <div class="container-fluid page">
        <div class="row">
            <div class="col-md-2 page__navigation">
                {% include 'Admin/blocks/navigation.twig' %}
            </div>
            <div class="col-md-10">
                {% block center_column%}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    <script src="{{ asset('js/vendors_bottom.js') }}"></script>
    <!-- Site`s js -->
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block counters %}{% endblock %}
