{% extends "layout.twig" %}

{% block content %}
    <div id="content" style="display: none;">
        <div class="photo_page">
            <section>
                <a href="/albums/id/18/#320">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('{{ asset('img/main/14.jpg', false) }}');">&nbsp;</div>
                </a>

                <div class="horizontal block_min">
                    <a href="{{ path('erliz_photosite_video_index') }}">
                        <div class="photo horizontal picture_min picture_text_main white_on_blue">
                            <span>Видео</span>
                        </div>
                    </a>
                    <a href="/albums/id/2/3/#22">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('{{ asset('img/main/2.jpg', false) }}');">&nbsp;</div>
                    </a>
                </div>
                <a href="/albums/id/17/3/#266">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('{{ asset('img/main/4.jpg', false) }}');">&nbsp;</div>
                </a>
                <a href="{{ path('erliz_photosite_contacts_index') }}">
                    <div class="photo horizontal picture_big picture_text white_on_blue">
                        <span>Контакты</span>
                    </div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/8/1/#170">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('{{ asset('img/main/17.jpg', false) }}');">&nbsp;</div>
                    </a>
                    <a href="/events/">
                        <div class="photo horizontal picture_min picture_text_main black_on_white">
                            <span>Эвенты</span>
                        </div>
                    </a>
                </div>
            </section>
            <section>
                <div class="horizontal block_min">
                    <a href="http://katelyn.ru/readme/">
                        <div class="photo horizontal picture_min picture_text_main white_on_blue">
                            <span>Блог</span>
                        </div>
                    </a>
                    <a href="/albums/id/17/#267">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('{{ asset('img/main/15.jpg', false) }}');">&nbsp;</div>
                    </a>
                </div>
                <a href="{{ path('erliz_photosite_albums_index') }}">
                    <div class="photo horizontal picture_big picture_text black_on_white">
                        <span>Альбомы</span>
                    </div>
                </a>
                <a href="/albums/id/18/2/#331">
                    <div class="photo vertical picture_mid"
                         style="background-image: url('{{ asset('img/main/18.jpg', false) }}');">&nbsp;</div>
                </a>
                <div class="horizontal block_min">
                    <a href="/albums/id/5/1/#52">
                        <div class="photo horizontal picture_min"
                             style="background-image: url('{{ asset('img/main/6.jpg', false) }}');">&nbsp;</div>
                    </a>
                    <a href="{{ path('erliz_photosite_links_index') }}">
                        <div class="photo horizontal picture_min picture_text_main black_on_white">
                            <span>Ссылки</span>
                        </div>
                    </a>
                </div>
                <a href="/albums/id/12/1/#327">
                    <div class="photo horizontal picture_big"
                         style="background-image: url('{{ asset('img/main/13.jpg', false) }}');">&nbsp;</div>
                </a>
            </section>
        </div>
    </div>
{% endblock %}
