{% extends "Admin/layout.twig" %}

{% block center_column %}
    {% if album|default %}
        <div class="page-header">
            <h3>{{ album.title }} <span class="label label-default">{{ album.photos|length }} фото</span></h3>
        </div>
        <form class="form-horizontal js-album-edit__form" role="form" method="post" action="{{ path('erliz_photosite_admin_albums_save') }}">
            <input type="hidden" name="albums[0][id]" value="{{ album.id }}">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Заголовок</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="title" placeholder="Заголовок" name="albums[0][title]" value="{{ album.title }}">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Описание</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="description" placeholder="Описание" name="albums[0][description]" value="{{ album.description }}">
                </div>
            </div>
            <div class="form-group">
                <label for="weight" class="col-sm-2 control-label">Вес</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="weight" placeholder="Вес" name="albums[0][weight]" value="{{ album.weight }}">
                </div>
            </div>
            <div class="form-group">
                <label for="cover" class="col-sm-2 control-label">Обложка</label>
                <div class="col-sm-8">
                    <select class="form-control" id="cover" name="albums[0][cover]">
                        <option value="">Выбери фотографию</option>
                        {% for photo in album.photos if photo.isVertical == 0 %}
                            <option {{ album.cover.id == photo.id ? 'selected' }} value="{{ photo.id }}">{{ photo.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <img src="{{ album.cover|default ? photo(album.cover.id, true) }}" class="img-responsive js-album-edit__cover_img" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="submit" class="btn btn-primary" value="Сохранить" />
                </div>
            </div>
        </form>
    {% else %}
        <div class="jumbotron">
            <h1>Нет альбомов!</h1>

            <p>На данный момент в базе нет ни одного альбома, который вы моглибы от модерировать.</p>

            <p><a href="/admin/upload/" class="btn btn-primary btn-lg">Создать »</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script>
        (function(window){
            var $ = window.$;

            var $form = $('.js-album-edit__form'),
                coverSelect = $form.find('select')[0];

            coverSelect.addEventListener('change', function(){
                var element = $(this),
                    id, img;
                if (id = element.val()) {
                    img = $form.find('.js-album-edit__cover_img')[0];
                    img.src = Helper.path.getCoverPathById(id);
                }
            });
        })(window);
    </script>
{% endblock %}