{% extends "Admin/layout.twig" %}

{% block center_column %}
    <div id="content">
        {% if album is defined %}
        <div class="photo_page">
            <div class="tile horizontal black_on_white dashboard">
                <h1>{{ album.title }}</h1>
                <a class="rigth" href="{{ path('erliz_photosite_admin_albums') }}">Альбомы</a>
                <form action="" method="post">
                    <label for="album_title">Заголовок</label>
                    <input id="album_title" type="text" name="title" value="{{ album.title }}"><br>
                    <label for="album_description">Описание</label>
                    <input id="album_description" type="text" name="description" value="{{ album.description }}"><br>
                    <label for="album_cover">Обложка</label>
                    <select id="album_cover" name="cover" onchange="showCoverImg($(this).val())">
                        <option value="">Выберите фотографию</option>
                        {% for photo in album.photos if photo.isVertical == 0 %}
                        <option value="{{ photo.id }}">{{ photo.title }}</option>
                        {% endfor %}
                    </select><br>
                    {% if album.cover is null %}
                        <img id="album_cover_img" class="hidden" src="" >
                    {% else %}
                        <img id="album_cover_img" width="264px" height="176px" src="{{ photo(album.cover.id, true) }}" >
                    {% endif %}
                    <br>
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
        {% else %}
        <div class="text_block">
            <h1>Альбом не найден</h1>
        </div>
    {% endif %}
{% endblock %}